$color_institucional_uno: #1d64fd;
$color_institucional_dos: #978989;
$color_institucional_tres: #1ef4d7;
$color_h1: #388fc2;
$color_h2: #383d3d;
$color_h2_caption: white;
$color_hover: #169ec7;
$color_footer_uno: #e4e0e0;
$color_footer_dos: #978989;
$color_footer_hover: #219c58;
$color_footer_links: #0050fd;
$redes_transform_scale: 0.9;
$transition: 0.5s;
$redes_font-size: 3rem;
$color_googlemapsiframe: rgb(77, 106, 121);
$color_redes: (
  youtube: red,
  facebook: blue,
  instagram: (
    rgb(101, 32, 211),
    rgb(255, 6, 27),
  ),
);
$url_heroes: (
  home: "../img/chocon4.jpg",
  contacto: "../img/hero-contact-us.png",
  estadisticas: "../img/financials_hero.jpg",
  mediateca: "../img/medialibrary_hero.jpg",
  geovisor: "../img/geovisor_hero.jpg",
);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

main {
  margin-top: 70px;
}

section {
  margin: 1rem 2rem;
}

h1 {
  color: $color_h1;
  text-shadow: 1px 1px 5px black;
  font-weight: 1000 !important;
  @media (max-width: 400px) {
    font-size: 1.8rem;
  }
}

h2 {
  color: $color_h2;
}

a {
  text-decoration: none;
}
