//arreglar estilos de mediateca; utilizar operaciones SASS según idea final

#mediateca__sidebar {
  width: 250px;
  height: 250px;
  position: fixed;
  top: 65px;
  right: -250px;
  z-index: 999;
  background: transparentize($color: $color_institucional_uno, $amount: 0.2);
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &.active {
    right: 0;
  }
}

.mediateca__sidebar--header {
  padding: 0.7rem;
  background: $color_institucional_uno;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center !important;
}

.mediateca__sidebar--selectorProyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mediateca__sidebar--botonProyectos {
  background-color: $color_institucional_uno;
  border: none;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-size: 16px;
  margin: 0.2rem;
  transition: 0.3s;
  display: block;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:active {
    background-color: transparentize(
      $color: $color_institucional_tres,
      $amount: 0.5
    );
    text-decoration: none;
    color: white;
  }
}

.mediateca__sidebar--cerrar {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: $color_institucional_uno;
  // position: absolute;
  // top: 10px;
  // right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: $color_institucional_uno;
  }
}

figcaption h2 {
  color: $color_h2_caption;
  text-shadow: 1px 1px 5px black;
}

.col_mediateca_media {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 15px;
  align-items: stretch;
  justify-items: stretch;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
  }

  img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 200px;
  }

  video {
    object-fit: cover;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    max-height: 200px;
  }
}

.mediateca__media--1 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;

  @media (max-width: 1000px) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (max-width: 768px) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--2 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;

  @media (max-width: 1000px) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  @media (max-width: 768px) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--3 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (max-width: 1000px) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  @media (max-width: 768px) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--4 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;

  @media (max-width: 1000px) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  @media (max-width: 768px) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;

  @media (max-width: 1000px) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  @media (max-width: 768px) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--6 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;

  @media (max-width: 1000px) {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  @media (max-width: 768px) {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.mediateca__media--7 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;

  @media (max-width: 1000px) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  @media (max-width: 768px) {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
